@import './../../mixins.scss';

.player {
    @include dFlex($fd: raw, $jc: flex-start, $g: 20px);
    width: 300px;
    padding: 10px 10px;
    background-color: rgb(190, 190, 190);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    >span {
        font-size: 25px;
    }

    >img {
        height: 40px;
    }
}

.player-active {
    background-color: orange;
}