@mixin dFlex($jc: center, $ai: center, $g: 0px) {
    display: flex;
    flex-direction: column;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

.start-screen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url(./../../assets/img/start.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include dFlex($g: 40px);

    >h1 {
        font-family: 'Sriracha';
        color: white;
        font-size: 86px;
    }

    >a {
        text-decoration: none;
        font-size: 36px;
        font-family: 'Sriracha';
        width: 300px;
        height: 50px;
        color: white;
        background-color: orange;
        border-radius: 20px;
        @include dFlex();

        &:hover {
            cursor: pointer;
            background-color: rgb(187, 134, 36);
        }
    }
}