@import './../../mixins.scss';

.start-screen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url(./../../assets/img/start2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include dFlex($g: 40px);

    >h1 {
        font-family: 'Sriracha';
        color: white;
        font-size: 86px;
    }

    >a {
        text-decoration: none;
        font-size: 36px;
        font-family: 'Sriracha';
        width: 300px;
        height: 50px;
        color: white;
        background-color: #ad3921;
        border-radius: 20px;
        @include dFlex();

        &:hover {
            cursor: pointer;
            background-color: #da5e45 ;
        }
    }
}